# Remove files from github that have sensitive information
ganalytics.xml

# Operating System Specific Files
Desktop.ini
.DS_Store
.Trashes
.LSOverride
.idea

# Eclipse Specific Files
.metadata
.gradle
bin/
gen/
tmp/
local.properties
.settings/
.loadpath
*.launch
.buildpath
.targets

# Java Specific files
*.class
*.discovery
*.api

.idea/workspace.xml
.idea/libraries
build
*.iml
gradle/
gradle
gradlew
gradlew.bat

*.log