# Operating System Specific Files
Desktop.ini
.DS_Store
.Trashes
.LSOverride
.idea

# Eclipse Specific Files
.metadata
.gradle
bin/
tmp/
local.properties
.settings/
.loadpath
*.launch
.buildpath
.targets

# Java Specific files
*.class
*.discovery
*.api


.gradle
local.properties
.idea/workspace.xml
.idea/libraries
build
*.iml